.verified{
	color: #30ab8a;
}

table{
	font-size: 0.7rem;
}
.graytext{
	color: gray;
}
.bellimage{
	width: 1rem;
}
.bookimage{
	width: 1rem;
}
.voucherimage{
	width: 1rem;
}
.settingsimage{
	width: 1rem;
}
.logoutimage{
	width: 1rem;
}
.verifiedimage{
	width: 1rem;
}
.navlinks{
	text-decoration: none;
	color: white;
	margin: 10px 0 10px 0;
	font-family: helvetica;

}
.navigation{
	background-color: #30ab8a;
	width: 100vw;
	margin-left: -10px;
	margin-top: -10px;
}
.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;
}
.header{
	width: 100vw;
	height: 6vw;
	background-color: #81d3e6;
	margin-left: -10px;
	
}
body{
	background-color: whitesmoke;
	font-family: helvetica;
	margin-right: -10px;
	display: flex;
	flex-direction: column;


}
.panel{
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
.leftpanel{
	margin-left: 10%;
	width: 20vw;
	margin-right: 20px;
}
.profileimageone{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.profiledesignation{
	color: gray;
}
.profilepanel{
	display: flex;
	flex-direction: row;
	background-color: white;
	width:100% ;
	border-radius: 10px;
	padding-top:10px ;

}
.profilename{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0 0 0;
	height: 100%;
	width: 30%;

	
	
}
.studentname{
	padding: 0;
	margin: 0;
}
.profiledesignation{
	padding: 0;
	margin: 0;
}
.panellinks{
	text-decoration: none;
	padding:0 10px 0 10px;
	color: black;
}
.panelone{
	width:20vw ;
	border-radius: 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;

}

.paneltwo{
	width:20vw ;
	border-radius: 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;

}
	
.rightpanel{
	background-color: white;
	width: auto;
	height: auto;
	border-radius: 10px;
}
.main{
	display: flex;
	flex-direction: row;
}
h4{
	padding-left: 10px;
}
.rphoto{
	width: 30%;
	height: 30%;
	border-radius: 50%;
}
.rightphoto{
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.changepic{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.piclink{
	text-decoration: none;
	color: gray;
}
th,td{
	
	border-bottom: 1px solid lightgray;
}
.tlink{
	text-decoration: none;
	color:#30ab8a ;

}
table{
	width: 100%;
	padding: 5px;
}
td{
	padding: 5px;
}
footer{
	width: 100%;
	margin-left:-10px ;
	margin-right: -10px;
	background-color: #30ab8a;
	height: 30px;
	padding: 0px;
}
.arrow{
	text-decoration: none;
	background-color: orange;
	border-radius: 50%;
	font-size: 2rem;
	color: white;

	}

#myBtn {
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: orange; 
  color: white; 
  cursor: pointer; 
  padding:7px 15px 7px 15px; 
  border-radius: 50%; 
  font-size: 20px; 
}

#myBtn:hover {
  background-color: #555; 
}
.pnl{
	position: relative;
	bottom: 30px;
}
.popup{
	background-color: white;
	width: 20vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
	margin-top: 0;
	float: right;
	position: relative;
	bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	right: 30px;
	box-shadow: 2px 2px 8px 5px #888888;
	z-index: 99;
	font-size: 0.7rem;
}
.popuptext{
	text-align: center;
}
.popupbtn{
	text-decoration: none;
	background-color: #30ab8a ;
	border-radius: 5px;
	padding: 3px;
	color: white;
	width: 80%;
	text-align: center	;
}
.closebutton{
	background-color: hsl(0, 0%, 0%, 0);
	text-decoration: none;
	border: none;
	color: gray;
}
.closebutton:hover {
  background-color: #30ab8a;
  color: white;
}

.buttondiv{
	padding-left: 90%;
}
.righttable{
	height: 50%;
}
@media only screen and (max-width: 451px) {
	.popup{
		background-color: white;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 0;
	margin-top: 10vw;
	position: static;
	bottom: 0px;
	padding: 10px;
	padding-left: 0;
	border-radius: 10px;
	box-shadow: 2px 2px 8px 5px #888888;
	z-index: 99;
	right: 0;
	left: 0;


	}
	.pnl{
		margin-top: 40vw;
	}
	.panel{
		width:100%;
	}
	.leftpanel{
		width:auto ;
		padding-left: 0;
		margin-left: 0;
	}
	.rightpanel{
		width: auto;
		padding-left: 0;
		margin-left: 0;
	}
	.main{
		padding-top: 10vw;
		padding-left: 0;
		margin-left: 0;
	}
	.panel{
		margin-left:0 ;
		padding-left: 0;
	}
}

@media only screen and (max-width: 389px) {
	.popup{
		background-color: white;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 0;
	margin-top: 10vw;
	position: static;
	bottom: 0px;
	padding: 10px;
	padding-left: 0;
	border-radius: 10px;
	box-shadow: 2px 2px 8px 5px #888888;
	z-index: 99;
	right: 0;
	left: 0;


	}
	.pnl{
		margin-top: 40vw;
	}
	.panel{
		width:100%;
	}
	.leftpanel{
		width:auto ;
		padding-left: 0;
		margin-left: 0;
	}
	.rightpanel{
		width: auto;
		padding-left: 0;
		margin-left: 0;
	}
	.main{
		padding-top: 50vw;
		padding-left: 0;
		margin-left: 0;
	}
	.panel{
		margin-left:0 ;
		padding-left: 0;
	}
	body{
		display: flex;
		flex-direction: column;
	}

}

